<div class="container">
  
    <div class="panel "> <h2>Edit Book Details</h2></div>
    <form >
        <div class="form-group row">
          <label for="id" class="col-sm-2 col-form-label">ID:</label>
          <div class="col-sm-10">
          <input id="id" type="text" disabled class="form-control"
                             name="id"
                             [(ngModel)]="editedBook.id" />
            </div>
          </div>
        <div class="form-group row">
          <label for="isbn" class="col-sm-2 col-form-label">ISBN:</label>
            <div class="col-sm-10">
              <input id="isbn" type="text" class="form-control"
                              name="isbn"
                              [(ngModel)]="editedBook.isbn" />
             </div>
        </div>                              
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label">Title:</label>
            <div class="col-sm-10">                              
             <input type="text" id="title" class="form-control"
                              name="title"
                              [(ngModel)]="editedBook.title" />
            </div>
        </div>                  
        <div class="form-group row">
          <label for="subtitle" class="col-sm-2 col-form-label">Subtitle:</label>
            <div class="col-sm-10">
              <input type="text"  id="subtitle" class="form-control"
                              name="subtitle"
                              [(ngModel)]="editedBook.subtitle" />
            </div>
        </div>                                
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Author:</label>
            <div class="col-sm-10">                              
             <input type="text" id="author" class="form-control"
                                name="author"
                                [(ngModel)]="editedBook.author" />
            </div>
        </div>                                    
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Publisher:</label>
            <div class="col-sm-10">  
              <input type="text"  id="publisher" class="form-control"
                                  name="publisher"
                                  [(ngModel)]="editedBook.publisher" />
            </div>
        </div>                                                            
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Pages:</label>
            <div class="col-sm-10">
              <input type="text"  id="pages" class="form-control"
                                    name="pages"
                                    [(ngModel)]="editedBook.pages" />
            </div>
        </div>
     <p>
        <button type="button"
                     class="btn btn-primary"
                     (click)="updateBook(editedBook)">Submit</button>
        <button type="button"
                     class="btn btn-warning"
                     (click)="cancelEdits()">Cancel</button>
      </p>
     </form>
</div>
